.image{
    float: left;
    border: 5px solid grey;
}
.img{
    margin: 5px;
    opacity: 0.5;
}
.image p{
    text-align: center;
    padding: 10px;
    display: block ;
    overflow: hidden;
}
.img:hover{
    opacity: 1;
}