.h1-design{
    text-align: center;
    background-color: antiquewhite;
    font-size: 40px;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}
.button-style{
    background-color: aquamarine;
    border: 5px;
    border-radius: 30px;
}
body{
padding: 50px 50px;
    

}
.font-color{
    color: white;    
}
.ndfont-color{
color: aqua;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
